:root{
    --bg-color:#f8f9fb;
    --text-color: #222;
    --primary-color:#2a5079;
    --card-bg:#fff;
    --boder-color:#cbd5e1;
}

body.dark-mode{
    --bg-color:#1b1f27;
    --text-color: #e6e6e6;
    --primary-color:#4ba3ff;
    --card-bg:#262c36;
    --boder-color:#3c4450; 
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all 0.3s ease;
}

.container{
    background-color: var(--card-bg);
    padding: 30px 40px;
    border-radius:14px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 90%;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
}

h1{
    font-size: 1.2rem;
    color: var(--primary-color);
}

#temaBtn{
     background: none;
     border: 2px solid var(--primary-color);
     color: var(--primary-color);
     padding: 6px 12px;
     border-radius: 500;
     cursor:pointer ;
     font-weight: 500;
     transition: all 0.3s;
}

#temaBtn:hover {
background-color: var(--primary-color);
color: #fff;
}

label{
display: block;
margin-top: 15px;
font-weight: 600;
color: var(--text-color);
}

input,select{
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px solid var(--text-color);
border-radius: 8px;
background-color: transparent;
color: var(--text-color);
font-size: 1rem;
}

button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer ;
    transition: background 0.3s;
}

button:hover{
    background-color: #1b3655;
}

.resultado{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed var(--primary-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 70px;
    text-align: left;
    font-size: 1rem;
}

footer{
    text-align: center;
    margin-top: 25px;
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.8;
}